[run]
relative_files = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't cover NotImplemented methods (specially useful for abstract classes)
    raise NotImplementedError

# Files to exclude from consideration
omit =
    # Utilities for OAuth2 connectors testing
    toucan_connectors/oauth2_connector/quickstart
