repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer

- repo: local
  hooks:
  - id: system
    name: Lint with Ruff
    entry: uv run ruff check --fix
    types: [python]
    language: system

  - id: system
    name: Lint with Ruff format
    entry: uv run ruff format
    types: [python]
    language: system
