[tool.black]
line-length = 100
target-version = ["py310"]
skip-string-normalization = true

[tool.isort]
include_trailing_comma = true
line_length = 100
multi_line_output = 3

[tool.poetry]
name = "toucan-connectors"
version = "3.23.13"
description = "Toucan Toco Connectors"
authors = ["Toucan Toco <dev@toucantoco.com>"]
license = "BSD"
readme = "README.md"

[tool.poetry.dependencies]
# <3.11 required by awswrangler
python = ">=3.10,<3.11"
Authlib = "^1.0.1"
aiohttp = "^3.8.1"
cached-property = "^1.5.2"
Jinja2 = "^3.0.3"
jq = "^1.2.2"
pydantic = "^1.9.1"
requests = "^2.28.0"
tenacity = "^8.0.1"
toucan-data-sdk = "^7.4.2"

# Dependencies for extras
adobe-analytics = {version = "^1.2.3", optional = true}
bearer = {version = "3.1.0", optional = true}
oauthlib = {version = "3.2.2", optional = true}
requests-oauthlib = {version = "1.3.1", optional = true}
awswrangler = {version = "^2.15.1", optional = true}
pyodbc = {version = "^4", optional = true}
clickhouse-driver = {version = ">=0.2.3,<1.0", optional = true}
dataiku-api-client = {version = "^9.0.1", optional = true}
elasticsearch = {version = ">=7.11.0,<8", optional = true}
facebook-sdk = {version = "^3.1.0", optional = true}
python-graphql-client = {version = ">=0.4.3,<1.0", optional = true}
google-api-python-client = {version = "^2", optional = true}
oauth2client = {version = "^4.1.3", optional = true}
googleads = {version = ">=32,<34", optional = true}
google-cloud-bigquery = {version = "^2", extras = ["bqstorage", "pandas"], optional = true}
PyMySQL = {version = "^1.0.2", optional = true}
gspread = {version = "^5.4.0", optional = true}
PyHive = {extras = ["hive"], version = ">=0.6.5,<1.0", optional = true}
xmltodict = {version = ">=0.13.0,<1.0", optional = true}
pymongo = {version = ">=3.12.0", optional = true}
tctc-odata = {version = ">=0.3,<1.0", optional = true}
cx-Oracle = {version = "^8.3.0", optional = true}
openpyxl = {version = "^3.0.9", optional = true}
psycopg2 = {version = "^2.7.4", optional = true}
redshift-connector = {version = "^2.0.907", optional = true}
lxml = {version = "^4.6.5", optional = true}
PyJWT = {version = ">=1.5.3,<3", optional = true}
simplejson = {version = "^3.17.6", optional = true}
pyhdb = {version = ">=0.3.4,<1.0", optional = true}
zeep = {version = "^4.1.0", optional = true}
snowflake-connector-python = {version = "^2.7.12", optional = true}
pyarrow = {version = "<9", optional = true}
toucan-client = {version = "^1.0.1", optional = true}
hubspot-api-client = {version = "^7.4.0", optional = true}

[tool.poetry.dev-dependencies]
Authlib = "^1.0.1"
aioresponses = ">=0.7.3,<1.0"
black = "^22.10.0"
click = "^8.1.3"
cryptography = "<39"
docker = "^6.0.1"
flake8 = "^5.0.4"
flake8-quotes = "^3.3.2"
isort = "^5.11.4"
mock = "^4.0.3"
pytest-aiohttp = "^1.0.4"
pytest-asyncio = ">=0.19.0,<1"
pytest-cov = "^4.0.0"
pytest = "^7.1.3"
pytest-mock = "^3.10.0"
pytest-rerunfailures = "^10.2"
python-slugify = "<6"
PyYAML = "<6"
responses = ">=0.21.0,<1"
psycopg2 = "^2.9.3"
xmltodict = ">=0.13.0,<1"
python-graphql-client = ">=0.4.3,<1"
clickhouse-driver = ">=0.2.3,<1"
lxml = "4.9.1"
zeep = "^4.1.0"

[tool.poetry.extras]
adobe = ["adobe-analytics"]
aircall = ["bearer"]
awsathena = ["awswrangler"]
azure_mssql = ["pyodbc"]
clickhouse = ["clickhouse-driver"]
dataiku = ["dataiku-api-client"]
elasticsearch = ["elasticsearch"]
facebook = ["facebook-sdk"]
github = ["python-graphql-client"]
google_analytics = ["google-api-python-client", "oauth2client"]
google_adwords = ["google-adwords"]
google_big_query = ["google-cloud-bigquery"]
google_cloud_mysql = ["PyMySQL"]
google_my_business = ["google-api-python-client"]
google_sheets = ["google-api-python-client"]
google_spreadsheet = ["gspread", "oauth2client"]
hive = ["PyHive"]
http_api = ["oauthlib", "requests-oauthlib", "xmltodict"]
hubspot = ["hubspot-api-client"]
lightspeed = ["bearer"]
mongo = ["pymongo"]
mssql = ["pyodbc"]
mssql_TLSv1_0 = ["pyodbc"]
mysql = ["PyMySQL"]
odata = ["oauthlib", "requests-oauthlib", "tctc_odata"]
odbc = ["pydobc"]
oracle_sql = ["cx_Oracle"]
net_explorer = ["openpyxl"]
postgres = ["psycopg2"]
Redshift = ["redshift_connector", "lxml"]
ROK = ["requests", "PyJWT", "simplejson"]
sap_hana = ["pyhdb"]
soap = ["zeep", "lxml"]
snowflake = ["snowflake-connector-python", "PyJWT", "pyarrow"]
toucan_toco = ["toucan_client"]

# All
all = [
    "adobe-analytics",
    "awswrangler",
    "bearer",
    "clickhouse-driver",
    "cx-Oracle",
    "dataiku-api-client",
    "elasticsearch",
    "facebook-sdk",
    "google-api-python-client",
    "google-cloud-bigquery",
    "googleads",
    "gspread",
    "hubspot-api-client",
    "lxml",
    "oauth2client",
    "oauthlib",
    "openpyxl",
    "psycopg2",
    "pyarrow",
    "pyhdb",
    "PyHive",
    "PyJWT",
    "pymongo",
    "PyMySQL",
    "pyodbc",
    "python-graphql-client",
    "redshift-connector",
    "requests-oauthlib",
    "simplejson",
    "snowflake-connector-python",
    "tctc-odata",
    "toucan-client",
    "xmltodict",
    "zeep"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
