authlib == 0.15.3
aioresponses == 0.7.2
black == 22.3.0
click >= 8.1.2
cryptography == 3.4.7
docker == 5.0.0
flake8 == 3.9.1
flake8-quotes == 3.2.0
isort == 5.8.0
mock == 4.0.3
pytest-aiohttp == 0.3.0
pytest-asyncio == 0.15.1
pytest-cov == 2.11.1
pytest == 6.2.4
pytest-mock == 3.6.0
pytest-rerunfailures == 9.1.1
python-slugify == 5.0.0
PyYAML == 5.4.1
responses >= 0.13.3
psycopg2 == 2.9.3
xmltodict == 0.12.0
python_graphql_client == 0.4.3
clickhouse_driver == 0.2.0
lxml == 4.6.5
zeep == 4.0.0
mock == 4.0.3
sqlalchemy == 1.4.31
