version: 2

default: &default
  working_directory: ~/ToucanToco/toucan-connectors
  docker:
    - image: circleci/python:3.6.2

jobs:
  build:
    <<: *default
    parallelism: 1
    shell: /bin/bash --login
    steps:
      - checkout
      - run:
          name: Main packages installation
          command: |
            sudo apt-get update
            sudo apt-get install freetds-dev
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - setup_remote_docker
#      - run:
#          name: Pull docker compose stack
#          command: docker-compose -f tests/docker-compose.yml pull
#      - run:
#          name: Start docker compose stack
#          command: |
#            cd tests
#            docker-compose up -d
      - run:
          name: Special install for Oracle
          command: |
            sudo apt-get install libaio1
            sudo mkdir -p /opt/oracle
            curl -c /tmp/cookie -L -o /tmp/oracle_client_lib.zip "https://drive.google.com/uc?export=download&id=1prPWRnaVMxDsIiSGJqz0TkFT7wXrCgaO"
            sudo unzip /tmp/oracle_client_lib.zip -d /opt/oracle
            sudo sh -c "echo /opt/oracle/instantclient_12_2 > /etc/ld.so.conf.d/oracle-instantclient.conf"
            sudo ldconfig
      - run:
          name: Special install for Hive
          command: |
            sudo apt-get install libsasl2-dev
      - run:
          name: Create virtualenv
          command: |
            make set-test-env
      - run:
          name: Unit tests
          command: |
            make circleci-test
