name: CI

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.13']

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      env:
        UV_VERSION: "0.8.12"
      run: |
        curl -LsSf "https://astral.sh/uv/${UV_VERSION}/install.sh" | sh

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install freetds-dev libsasl2-dev libpq-dev

    - name: Install oracle dependencies
      run: sudo bash toucan_connectors/install_scripts/oracle.sh

    - name: Install databricks dependencies
      run: sudo bash toucan_connectors/install_scripts/databricks.sh

    - name: Install mssql dependencies
      run: sudo bash toucan_connectors/install_scripts/mssql.sh

    - name: Install mssql_TLSv1_0 dependencies
      run: sudo bash toucan_connectors/install_scripts/mssql_TLSv1_0.sh

    - name: Install odbc dependencies
      run: sudo bash toucan_connectors/install_scripts/odbc.sh

    - name: Install
      run: make install

    - name: Lint
      run: make lint

    - name: Cache docker images
      id: cache-docker-images
      uses: actions/cache@v5.0.1
      with:
        path: /var/lib/docker/overlay2
        key: ${{ runner.os }}-docker-images

    - name: Pulling all docker images
      run: docker compose -f tests/docker-compose.yml pull

    - name: test
      run: make test
      env:
        BEARER_API_KEY: ${{ secrets.BEARER_API_KEY }}
        BEARER_AIRCALL_AUTH_ID: ${{ secrets.BEARER_AIRCALL_AUTH_ID }}
        # Athena
        ATHENA_OUTPUT: '${{ secrets.ATHENA_OUTPUT }}'
        ATHENA_DATABASE: '${{ secrets.ATHENA_DATABASE }}'
        ATHENA_ACCESS_KEY_ID: '${{ secrets.ATHENA_ACCESS_KEY_ID }}'
        ATHENA_SECRET_ACCESS_KEY: '${{ secrets.ATHENA_SECRET_ACCESS_KEY }}'
        ATHENA_REGION: '${{ secrets.ATHENA_REGION }}'
        # GBQ
        GOOGLE_BIG_QUERY_CREDENTIALS: '${{ secrets.GOOGLE_BIG_QUERY_CREDENTIALS }}'
        # Azure MSSQL
        AZURE_MSSQL_USER: '${{ secrets.AZURE_MSSQL_USER }}'
        AZURE_MSSQL_PASSWORD: '${{ secrets.AZURE_MSSQL_PASSWORD }}'
        AZURE_MSSQL_HOST: '${{ secrets.AZURE_MSSQL_HOST }}'
        AZURE_MSSQL_DATABASE: '${{ secrets.AZURE_MSSQL_DATABASE }}'
        # Snowflake
        SNOWFLAKE_USER: '${{ secrets.SNOWFLAKE_USER }}'
        SNOWFLAKE_PASSWORD: '${{ secrets.SNOWFLAKE_PASSWORD }}'
        SNOWFLAKE_ACCOUNT: '${{ secrets.SNOWFLAKE_ACCOUNT }}'
        SNOWFLAKE_DATABASE: '${{ secrets.SNOWFLAKE_DATABASE }}'
        SNOWFLAKE_PRIVATE_KEY: '${{ secrets.SNOWFLAKE_PRIVATE_KEY }}'
        SNOWFLAKE_WAREHOUSE: '${{ secrets.SNOWFLAKE_WAREHOUSE }}'
        # Redshift
        REDSHIFT_USER: '${{ secrets.REDSHIFT_USER }}'
        REDSHIFT_PASSWORD: '${{ secrets.REDSHIFT_PASSWORD }}'
        REDSHIFT_HOST: '${{ secrets.REDSHIFT_HOST }}'
