name: CI

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of sonar reporting
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install freetds-dev libsasl2-dev libpq-dev
        pip install poetry
        poetry config virtualenvs.create false

    - name: Install oracle dependencies
      run: sudo bash toucan_connectors/install_scripts/oracle.sh

    - name: Install databricks dependencies
      run: sudo bash toucan_connectors/install_scripts/databricks.sh

    - name: Install mssql dependencies
      run: sudo bash toucan_connectors/install_scripts/mssql.sh

    - name: Install mssql_TLSv1_0 dependencies
      run: sudo bash toucan_connectors/install_scripts/mssql_TLSv1_0.sh

    - name: Install odbc dependencies
      run: sudo bash toucan_connectors/install_scripts/odbc.sh

    - name: install
      run: make install

    - name: lint
      run: make lint

    - name: Cache docker images
      id: cache-docker-images
      uses: actions/cache@v3
      with:
        path: /var/lib/docker/overlay2
        key: ${{ runner.os }}-docker-images

    - name: Pulling all docker images
      run: docker compose -f tests/docker-compose.yml pull

    - name: test
      run: make test
      env:
        BEARER_API_KEY: ${{ secrets.BEARER_API_KEY }}
        BEARER_AIRCALL_AUTH_ID: ${{ secrets.BEARER_AIRCALL_AUTH_ID }}
